<div id="block-atlantiq-footeroben">
  <div class="footer-column">
    <div class="field field--name-field-firmenname">{{ content.field_firmenname }}</div>
    <div class="field field--name-field-branding-slogan">{{ content.field_branding_slogan }}</div>
  </div>
  <div class="footer-column">
    <div class="field field--name-field-firmen-adresse">{{ content.field_firmen_adresse }}</div>
    <div class="field field--name-field-plz-und-ort">{{ content.field_plz_und_ort }}</div>
  </div>
  <div class="footer-column">
    <div class="field field--name-field-telefon">{{ content.field_telefon }}</div>
    <div class="field field--name-field-firmen-mail">{{ content.field_firmen_mail }}</div>

  </div>
  <div class="footer-column">
    <div class="field field--name-field-impressum">{{ content.field_impressum }}</div>
    <div class="field field--name-field-datenschutz">{{ content.field_datenschutz }}</div>
  </div>
</div>
