{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 * - content: All paragraph items.
 * - attributes: HTML attributes for the containing element.
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status.
 * - is_admin: Flag for admin user status.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished',
  'carousel',
  'slide'
]
%}

{% set aq_slider_id = 'aq-slider-' ~ paragraph.id() %}
{% set image_count = content.field_images["#items"] | length %}

{% block paragraph %}
  <div{{ attributes.addClass(classes).setAttribute('id', aq_slider_id) }}>
    <div class="carousel-indicators">
      {% for i in range(0, image_count - 1) %}
        <button type="button" data-bs-target="#{{ aq_slider_id }}" data-bs-slide-to="{{ i }}" class="{{ loop.first ? 'active' : '' }}" aria-current="{{ loop.first ? 'true' : 'false' }}" aria-label="Slide {{ i + 1 }}"></button>
      {% endfor %}
    </div>
    {% block content %}
      {{ content }}
      {% if image_count > 1 %}
        <button class="carousel-control-prev" type="button" data-bs-target="#{{ aq_slider_id }}" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#{{ aq_slider_id }}" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      {% endif %}
    {% endblock %}
  </div>
{% endblock paragraph %}
